.menu {
  margin-left: 2rem;
}

.headerText {
  font-family: Poppins;
  flex: 0 1 auto;
  position: absolute;
  margin-left: 50%;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px #fff, 1px 1px 50px;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-top: 35px;
  align-items: center;
  max-height: 0;
}
