.filter {
  grid-column: 1 /2;
}

.options {
  grid-area: b;
  width: 93%;
  height: 50px;
  margin-top: 10px;
  background-color: rgba(21, 25, 23, 0.85);
  display: flex;
  border-radius: 10px;
  align-items: center;
  padding-left: 10px;
  margin-left: 10px;
}

.main {
  display: grid;
  grid-template-areas:
    "a a b"
    "c c c";
  grid-template-columns: 35% 45%;
  margin-left: 5vw;
  margin-right: 5vw;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 10px;
  overflow-y: auto;
  width: auto;
  text-align: center;
  grid-area: c;
}

@media (max-width: 1100px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

.search {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
  grid-area: a;
  height: 60px;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .main {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c";
    grid-template-columns: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-items: center;
  }
  .options {
    margin-left: 0px;
    width: 270px;
  }
  .search {
    width: 280px;
  }
}
